@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap');

*,
*::after,
*::before {
    box-sizing: inherit
}

* {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box
}

body {
    background-color: #FFFCFF;
}

ol,
ul {
    list-style: none
}


select.form-control::-ms-expand {
    display: none
}

textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top
}

input::-ms-clear {
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img,
video,
svg {
    max-width: 100%
}

[data-theme] {
    background-color: hsl(0, 0%, 100%);
    background-color: var(--color-bg, #fff);
    color: hsl(240, 4%, 20%);
    color: var(--color-contrast-high, #313135)
}

:root {
    --space-unit: 1em;
    --space-xxxxs: calc(0.125*var(--space-unit));
    --space-xxxs: calc(0.25*var(--space-unit));
    --space-xxs: calc(0.375*var(--space-unit));
    --space-xs: calc(0.5*var(--space-unit));
    --space-sm: calc(0.75*var(--space-unit));
    --space-md: calc(1.25*var(--space-unit));
    --space-lg: calc(2*var(--space-unit));
    --space-xl: calc(3.25*var(--space-unit));
    --space-xxl: calc(5.25*var(--space-unit));
    --space-xxxl: calc(8.5*var(--space-unit));
    --space-xxxxl: calc(13.75*var(--space-unit));
    --component-padding: var(--space-md)
}

:root {
    --body-line-height: 1.4;
    --heading-line-height: 1.2
}

body {
    font-size: 1em;
    font-size: var(--text-base-size, 1em);
    font-family: 'Urbanist', sans-serif;
    color: hsl(240, 4%, 20%);
    color: var(--color-contrast-high, #313135)
}

h1,
h2,
h3,
h4 {
    color: hsl(240, 8%, 12%);
    color: var(--color-contrast-higher, #1c1c21);
    line-height: 1.2;
    line-height: var(--heading-line-height, 1.2)
}

a,
.link {
    color: hsl(220, 90%, 56%);
    color: var(--color-primary, #2a6df4);
    text-decoration: underline
}

.text-center {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: space-around;
}

@supports (--css: variables) {
    @media (min-width: 64rem) {
        :root {
            --space-unit: 1.25em
        }
    }
}

:root {
    --radius: 0.25em
}

:root {
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
    --text-xs: calc(1em/var(--text-scale-ratio)/var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs)*var(--text-scale-ratio));
    --text-md: calc(var(--text-sm)*var(--text-scale-ratio)*var(--text-scale-ratio));
    --text-lg: calc(var(--text-md)*var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg)*var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl)*var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl)*var(--text-scale-ratio));
    --body-line-height: 1.4;
    --heading-line-height: 1.2;
    --font-primary-capital-letter: 1
}

@supports (--css: variables) {
    @media (min-width: 64rem) {
        :root {
            --text-base-size: 1.25em;
            --text-scale-ratio: 1.25
        }
    }
}

:root {
    --btn-font-size: 1em;
    --btn-font-size-sm: calc(var(--btn-font-size) - 0.2em);
    --btn-font-size-md: calc(var(--btn-font-size) + 0.2em);
    --btn-font-size-lg: calc(var(--btn-font-size) + 0.4em);
    --btn-radius: 0.25em;
    --btn-padding-x: var(--space-sm);
    --btn-padding-y: var(--space-xs)
}

header {
    padding-top: 1em;
}

a {
    cursor: default;
}

:root {
    --cd-color-event-autre: #0090C1;
    --cd-color-event-cours: #791AC7;
    --cd-color-event-td: #04A777;
    --cd-color-event-tp: #FCBA04;
    --cd-color-event-exam: #F4442E;
    --cd-color-event-anglais: #D90368;
    --cd-color-text: hsl(0, 0%, 13%);
    --cd-color-border: hsl(0, 0%, 92%);
    --schedule-rows-number: 19;
    --schedule-rows-height: 50px
}

body {
    color: hsl(0, 0%, 13%);
    color: var(--cd-color-text);
    scrollbar-width: thin;
}

a {
    color: hsl(162, 14%, 68%);
    color: var(--cd-color-event-3)
}

.cd-schedule {
    position: relative
}

.cd-schedule::before {
    content: 'mobile';
    display: none
}

@media (min-width: 64rem) {
    .js .cd-schedule {
        width: calc(100% - 1.25em);
        width: calc(100% - 2*var(--component-padding));
        margin-left: auto;
        margin-right: auto;
        max-width: 90rem;
        max-width: var(--max-width-xl)
    }

    .js .cd-schedule::before {
        content: 'desktop'
    }
}

.cd-schedule__timeline {
    display: none
}

@media (min-width: 64rem) {
    .js .cd-schedule__timeline {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-top: 50px;
        padding-top: var(--schedule-rows-height)
    }

    .js .cd-schedule__timeline li {
        position: relative;
        height: 50px;
        height: var(--schedule-rows-height)
    }

    .js .cd-schedule__timeline li::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: hsl(0, 0%, 92%);
        background: var(--cd-color-border)
    }

    .js .cd-schedule__timeline li:last-of-type::after {
        display: none
    }

    .js .cd-schedule__timeline li span {
        display: none
    }
}

@media (min-width: 80rem) {
    .js .cd-schedule__timeline li::after {
        width: calc(100% - 60px);
        left: 60px
    }

    .js .cd-schedule__timeline li span {
        display: inline-block;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 0.83333em;
        font-size: var(--text-sm)
    }

    .js .cd-schedule__timeline li:nth-of-type(2n) span {
        display: none
    }
}

.cd-schedule__events {
    position: relative;
    z-index: 1
}

@media (min-width: 64rem) {
    .js .cd-schedule__events {
        width: 100%
    }

    .js .cd-schedule__events>ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

@media (min-width: 80rem) {
    .js .cd-schedule__events {
        width: calc(100% - 60px);
        margin-left: 60px
    }
}

.cd-schedule__group {
    margin-bottom: 2em;
    margin-bottom: var(--space-lg)
}

@media (min-width: 64rem) {
    .js .cd-schedule__group {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        border: 1px solid hsl(0, 0%, 92%);
        border: 1px solid var(--cd-color-border);
        margin-bottom: 0
    }

    .js .cd-schedule__group:not(:first-of-type) {
        border-left-width: 0
    }
}

.cd-schedule__group>ul {
    position: relative;
    padding: 0 1.25em;
    padding: 0 var(--component-padding);
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cd-schedule__group>ul::after {
    display: inline-block;
    content: '-';
    width: 1px;
    height: 100%;
    opacity: 0;
    color: transparent
}

@media (min-width: 64rem) {
    .js .cd-schedule__group>ul {
        height: 1198px;
        /* height: calc(var(--schedule-rows-height)*var(--schedule-rows-number)); */
        overflow: visible;
        padding: 0
    }

    .js .cd-schedule__group>ul::after {
        display: none
    }
}

.cd-schedule__top-info {
    width: 100%;
    padding: 0 1.25em;
    padding: 0 var(--component-padding)
}

.cd-schedule__top-info>span {
    display: inline-block;
    margin-bottom: 0.75em;
    margin-bottom: var(--space-sm);
    font-weight: bold
}

@media (min-width: 64rem) {
    .js .cd-schedule__top-info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 50px;
        height: var(--schedule-rows-height);
        border-bottom: 1px solid hsl(0, 0%, 92%);
        border-bottom: 1px solid var(--cd-color-border);
        padding: 0
    }

    .js .cd-schedule__top-info>span {
        font-weight: normal;
        font-size: 0.83333em;
        font-size: var(--text-sm);
        margin-bottom: 0
    }
}

.cd-schedule__event {
    color: white;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    float: left;
    min-height: 150px;
    height: 100%;
    max-height: 300px;
    width: 70%;
    max-width: 300px;
    margin-right: 1.25em;
    margin-right: var(--space-md);
    transition: opacity .2s, background .2s
}

.cd-schedule__event div {
    display: block;
    height: 100%;
    padding: 0.75em;
    padding: var(--space-sm);
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    min-height: 150px;
}

.cd-schedule__event div::before {
    content: attr(data-start) " - " attr(data-end)
}

@media (min-width: 48rem) {
    .js .cd-schedule__event {
        width: 40%
    }
}

@media (min-width: 64rem) {
    .js .cd-schedule__event {
        position: absolute;
        z-index: 3;
        width: calc(100% + 2px);
        left: -1px;
        max-width: none;
        margin-right: 0
    }

    .js .cd-schedule__event div {
        padding: 0.75em;
        padding: var(--space-sm);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2)
    }
}

@media (min-width: 64rem) {
    .js .cd-schedule__event--selected {
        visibility: hidden
    }

    .js .cd-schedule--loading .cd-schedule__event {
        opacity: 0
    }
}

.cd-schedule__name,
.cd-schedule__event div::before,
.cd-schedule-modal__name,
.cd-schedule-modal__date {
    display: block;
    color: hsl(0, 0%, 100%);
    color: var(--color-white);
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cd-schedule__name,
.cd-schedule-modal__name {
    font-size: 1.44em;
    font-size: var(--text-lg)
}

@media (min-width: 64rem) {

    .cd-schedule__name,
    .cd-schedule-modal__name {
        font-size: 1em;
        font-size: calc(var(--text-sm)*1.2)
    }
}

.cd-schedule-modal__date,
.cd-schedule__event div::before {
    opacity: .7;
    margin-bottom: 0.25em;
    margin-bottom: var(--space-xxxs)
}

@media (min-width: 64rem) {

    .cd-schedule-modal__date,
    .cd-schedule__event div::before {
        font-size: 0.72916em;
        font-size: calc(var(--text-xs)*1.05);
        margin-bottom: 0.125em;
        margin-bottom: var(--space-xxxxs)
    }
}

.cd-schedule__event [data-event="event-autre"],
.cd-schedule-modal[data-event="event-autre"] .cd-schedule-modal__header-bg {
    background: var(--cd-color-event-autre)
}

.cd-schedule__event [data-event="event-cours"],
.cd-schedule-modal[data-event="event-cours"] .cd-schedule-modal__header-bg {
    background: var(--cd-color-event-cours)
}

.cd-schedule__event [data-event="event-td"],
.cd-schedule-modal[data-event="event-td"] .cd-schedule-modal__header-bg {
    background: var(--cd-color-event-td)
}

.cd-schedule__event [data-event="event-tp"],
.cd-schedule-modal[data-event="event-tp"] .cd-schedule-modal__header-bg {
    background: var(--cd-color-event-tp)
}

.cd-schedule__event [data-event="event-exam"],
.cd-schedule-modal[data-event="event-exam"] .cd-schedule-modal__header-bg {
    background: var(--cd-color-event-exam)
}

.cd-schedule__event [data-event="event-anglais"],
.cd-schedule-modal[data-event="event-anglais"] .cd-schedule-modal__header-bg {
    background: var(--cd-color-event-anglais)
}

.cd-schedule-modal {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: visibility .4s, -webkit-transform .4s;
    transition: transform .4s, visibility .4s;
    transition: transform .4s, visibility .4s, -webkit-transform .4s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1)
}

@media (min-width: 64rem) {
    .cd-schedule-modal {
        right: auto;
        width: auto;
        height: auto;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        will-change: transform, width, height;
        transition: height .4s, width .4s, visibility .4s, -webkit-transform .4s;
        transition: height .4s, width .4s, transform .4s, visibility .4s;
        transition: height .4s, width .4s, transform .4s, visibility .4s, -webkit-transform .4s;
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1)
    }
}

.cd-schedule-modal__header {
    position: relative;
    height: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%
}

@media (min-width: 64rem) {
    .cd-schedule-modal__header {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%
    }
}

.cd-schedule-modal__content {
    position: relative;
    z-index: 3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.75em 1.25em;
    padding: var(--space-sm) var(--component-padding)
}

@media (min-width: 64rem) {
    .cd-schedule-modal__content {
        display: block;
        padding: 0.75em;
        padding: var(--space-sm)
    }
}

.cd-schedule-modal__body {
    position: relative;
    width: 100%;
    height: calc(100% - 70px)
}

@media (min-width: 64rem) {
    .cd-schedule-modal__body {
        height: 100%;
        width: auto
    }
}

.cd-schedule-modal__event-info {
    position: relative;
    z-index: 2;
    line-height: 1.4;
    line-height: var(--body-line-height);
    height: 100%;
    overflow: hidden;
    font-size: 1em;
    font-size: calc(var(--text-sm)*1.2)
}

.cd-schedule-modal__event-info>div {
    overflow: auto;
    height: 100%;
    padding: 1.25em 1.25em;
    padding: var(--space-md) var(--component-padding)
}

@media (min-width: 64rem) {
    .cd-schedule-modal__event-info {
        opacity: 0;
        font-size: 0.83333em;
        font-size: var(--text-sm)
    }

    .cd-schedule-modal__event-info>div {
        padding: 1.625em 2.4em 1.625em 1.625em;
        padding: calc(var(--space-md)*1.3) calc(var(--space-lg)*1.2) calc(var(--space-md)*1.3) calc(var(--space-md)*1.3)
    }
}

.cd-schedule-modal__header-bg,
.cd-schedule-modal__body-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

@media (min-width: 64rem) {

    .cd-schedule-modal__header-bg,
    .cd-schedule-modal__body-bg {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }
}

.cd-schedule-modal__header-bg {
    z-index: 2;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center
}

@media (min-width: 64rem) {
    .cd-schedule-modal__header-bg {
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s;
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1)
    }
}

.cd-schedule-modal__body-bg {
    z-index: 1;
    background: hsl(0, 0%, 100%);
    background: var(--color-white);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left
}

@media (min-width: 64rem) {
    .cd-schedule-modal__body-bg {
        opacity: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.cd-schedule-modal--no-transition {
    transition: none
}

.cd-schedule-modal--no-transition .cd-schedule-modal__header-bg,
.cd-schedule-modal--no-transition .cd-schedule-modal__body-bg {
    transition: none !important
}

.cd-schedule-modal__date {
    display: none
}

@media (min-width: 64rem) {
    .cd-schedule-modal__date {
        display: block
    }
}

.cd-schedule-modal__close {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    background: hsla(240, 8%, 12%, 0.1);
    background: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.1)
}

.cd-schedule-modal__close::before,
.cd-schedule-modal__close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: hsl(0, 0%, 100%);
    background: var(--color-white);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.cd-schedule-modal__close::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg)
}

.cd-schedule-modal__close::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg)
}

@media (max-width: 64rem) {
    .empty-day {
        display: none;
    }
}

@media (min-width: 64rem) {
    .cd-schedule-modal__close {
        width: 40px;
        height: 40px;
        background: transparent;
        opacity: 0
    }

    .cd-schedule-modal__close::after,
    .cd-schedule-modal__close::before {
        background: hsl(0, 0%, 13%);
        background: var(--cd-color-text);
        height: 16px
    }
}

.cd-schedule-modal--open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible
}

.cd-schedule-modal--open .cd-schedule-modal__event-info>div {
    -webkit-overflow-scrolling: touch
}

@media (min-width: 64rem) {

    .cd-schedule-modal--animation-completed .cd-schedule-modal__close,
    .cd-schedule-modal--content-loaded.cd-schedule-modal--animation-completed .cd-schedule-modal__event-info {
        opacity: 1;
        transition: opacity .2s
    }

    .cd-schedule-modal--open .cd-schedule-modal__body-bg {
        opacity: 1;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s;
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1)
    }
}

.cd-schedule__cover-layer {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsla(240, 8%, 12%, 0.8);
    background: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s
}

.cd-schedule-modal--open+.cd-schedule__cover-layer {
    opacity: 1;
    visibility: visible
}

.cd-main-header h1 {
    color: hsl(0, 0%, 13%);
    color: var(--cd-color-text);
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0 1em;
}

.cd-article-link {
    font-size: 0.83333em;
    font-size: var(--text-sm);
    transition: opacity .2s
}

.cd-article-link:hover {
    opacity: 0.8
}

a svg {
    fill: var(--cd-color-text);
    height: 25px;
    width: 25px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #090A35;
        color: white;
    }

    .cd-main-header h1 {
        color: white;
    }

    a svg {
        fill: white;
    }
}